<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>@title@</title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>

<script type="text/javascript" charset="utf-8" src="lib/jquery-1.10.2.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/bootstrap.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/handlebars-v1.3.0.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/ember-1.6.1.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/ember-data.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/moment.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>

<script type="text/javascript" charset="utf-8" src="dist/Irene.js"></script>
<script type="text/javascript" charset="utf-8" src="dist/templates.js"></script>
</body>
</html>